{#CART HTML#}

{% extends "base.html" %}
{%block content%}
<main role="main">
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 id="header" class="display-3 text-center">superX</h1>
      <p></p>
      <p style="font-size: large" >הכנס שם מוצר בתיבת החיפוש</p>
      <form id="searchbutton" class="form-inline mt-2 mt-md-0">
          <input id="myInput" onkeyup="search()" class="form-control mr-sm-2 text-center" type="text" placeholder="הכנס שם מוצר" aria-label="Search">
          <p></p>
      </form>
    </div>
    </div>
</main>
{%endblock%}