{#CART HTML#}

{% extends "base.html" %}
{%block content%}

<main role="main">
  <div class="jumbotron">
    <div class="container">
      <h1 id="header" class="display-3 text-center">superX</h1>
        <p></p>
        <p style="font-size: large" >דף זה מציג את מחיר הסל הנבחר במבחר רשתות נבחרות</p>
        <p></p>
    </div>
    </div>

  <div class="container">
  <div class="row mb-3">

  {# Mega table#}
  <div class="col-md-4 themed-grid-col">
  <table id="megaTable" class="table text-center" dir="rtl">
    <thead>
        <tr>
            <th colspan="3"><img src="/static/img/MegaLogo.png" alt="שופרסל" width="260" height="100"></th>
        </tr>
    </thead>
    <tbody id="megaBody">
      {% for product in total_prices['mega']['list'] %}
            <tr>
                <td> {{ product.name|replace('\'', '') }} </td>
                <td> {{ product.price }} ש''ח</td>
            </tr>
        {% endfor %}
        <tr>
            <td colspan="2"><strong>מחיר הסל: {{ total_prices['mega']['price'] }} ש''ח </strong></td>
        </tr>
    </tbody>
  </table>
  </div> <!-- Mega -->

  {# Shufersal table#}
  <div class="col-md-4 themed-grid-col">
  <table id="shufersalTable" class="table text-center" dir="rtl">
    <thead>
        <tr>
            <th colspan="3"><img src="/static/img/ShufersalLogo.png" alt="שופרסל" width="260" height="100"></th>
        </tr>
    </thead>
    <tbody id="shufersalBody">
      {% for product in total_prices['shufersal']['list'] %}
            <tr>
                <td> {{ product.name|replace('\'', '') }} </td>
                <td> {{ product.price }} ש''ח</td>
            </tr>
        {% endfor %}
        <tr>
            <td colspan="2"><strong>מחיר הסל: {{ total_prices['shufersal']['price'] }} ש''ח </strong></td>
        </tr>
    </tbody>
  </table>
  </div> <!-- Shufersal -->

{# victory table#}
  <div class="col-md-4 themed-grid-col">
  <table id="victoryTable" class="table text-center" dir="rtl">
    <thead>
        <tr>
            <th colspan="3"><img src="/static/img/VictoryLogo.png" alt="וויקטורי" width="260" height="100"></th>
        </tr>
    </thead>
    <tbody id="victoryBody">
      {% for product in total_prices['victory']['list'] %}
            <tr>
                <td> {{ product.name|replace('\'', '') }} </td>
                <td> {{ product.price }} ש''ח</td>
            </tr>
        {% endfor %}
        <tr>
            <td colspan="2"><strong>מחיר הסל: {{ total_prices['victory']['price'] }} ש''ח </strong></td>
        </tr>
    </tbody>
  </table>
  </div> <!-- victory -->

</div> <!-- row -->
</div> <!-- container -->
</main>
{%endblock%}
