{#HOME HTML#}

{% extends "base.html" %}
{%block content%}
<main role="main">
  <div class="jumbotron">
    <div class="container">
      <h1 id="header" class="display-3 text-center">superX</h1>
      

        <form id="searchbutton" class="form-inline mt-2 mt-md-0">
        <!-- City search with datalist -->
        {% if current_user.is_authenticated %}
        <p><b>עיר שלך: {{ current_user.city }} </b></p>
        <input id="cityCompare" class="btn btn-outline-success btn-lg" form="cityForm" type="submit" value="תרצה עיר אחרת?">
        <div class="inner"></div>
        {% else %}
        <label style="font-size: large; font-weight: bold" for="cityChoice"> אנא בחר מהרשימה את שם העיר בה תרצה להשוות מחירים</label>
        <input id="cityChoice" list="cityList" class="form-control mr-sm-2 text-center" name="cityChoice" placeholder="בחר את שם העיר"><br>
        <datalist id="cityList">
            {% for city in city_list %}
            {% if city.city == None or city.city == 'unknown' %}
            {% else %}
            <option value="{{ city.city }}">
            {% endif %}
            {% endfor %}
        </datalist>
        {% endif %}
        

      <!-- Product search and Compare button -->
        <p></p>
          <label style="font-size: large; font-weight: bold" for="myInput"> הכנס שם מוצר בתיבת החיפוש </label>

          <input id="myInput" class="form-control mr-sm-2 text-center" type="text" placeholder="הכנס שם מוצר" aria-label="Search">
            <p></p>
          <label style="font-size: medium; font-weight: bold" for="myInput"> *מציג את {{ number_of_items_to_show }} המוצרים הראשונים ברשימת המוצרים* </label>
          <p></p>
          <a class="btn" href="{{ url_for('cart') }}"><input id="comperbutton" form="cartForm" type="submit" value="השווה מחירים" class="btn btn-outline-success btn-lg" ></a>
      </form>
    </div>
    </div>
  <div class="container">
  <div class="row mb-3">
  <div class="col-6 themed-grid-col">
  <table id="myTable" class="table text-center" dir="rtl">
  <thead>
    <tr>
        <th colspan="3">מוצרים להשוואה</th>
    </tr>
    <tr>
        <th scope="col" >שם המוצר</th>
        <th scope="col" >כמות</th>
        <th scope="col" >הוסף לעגלה</th>
    </tr>
  </thead>
  <tbody id="tbody">

  </tbody>
</table>
</div> <!-- col  -->

<div class="col-6 themed-grid-col">

<table id="myCart" class="table text-center" dir="rtl" name="myCart">
<thead>
    <tr>
        <th colspan="5">העגלה שלי</th>
    </tr>
  <tr>
        <th scope="col" colspan="2">קוד מוצר</th>
        <th scope="col" colspan="2">שם מוצר</th>
        <th scope="col" colspan="1">הסר מהעגלה</th>
  </tr>
</thead>
<tbody id="cartbody">
  {% for item in session['cart'] %}
  <tr id="{{ item['id'] }}">
    <td colspan="2">{{ item['id']  }}</td>
    <td colspan="2">{{ item['name']  }}</td>
    <td><button onclick="removeItem({{ item['id'] }})" type="button" class="btn btn-outline-danger">הסר מהעגלה</button></td>
    <td colspan="0"><input type="hidden" name="${product_id}"></td>
     </tr>
  {% endfor %}
</tbody>
</table>
</form>
</div><!-- row -->
</div> <!-- col -->
</div> <!-- container -->
</main>
{%endblock%}
