{#HOME HTML#}

{% extends "base.html" %}
{%block content%}
<main role="main">
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 id="header" class="display-3 text-center">superX</h1>
      <p></p>
      <p style="font-size: large" >הכנס שם מוצר בתיבת החיפוש</p>
      <form id="searchbutton" class="form-inline mt-2 mt-md-0">
          <input id="myInput" onkeyup="search()" class="form-control mr-sm-2 text-center" type="text" placeholder="הכנס שם מוצר" aria-label="Search">
          <p></p>
          <input id="comperbutton" form="cartForm" type="submit" value="השווה מחירים" class="btn btn-outline-success btn-lg" disabled>
      </form>
    </div>
    </div>


  <div class="container">
  <div class="row mb-3">
  <div class="col-6 themed-grid-col">
  <table id="myTable" class="table text-center" dir="rtl">
  <thead>
    <tr>
        <th colspan="3">מוצרים להשוואה</th>
    </tr>
    <tr>
        <th scope="col" >שם המוצר</th>
        <th scope="col" >כמות</th>
        <th scope="col" >הוסף לעגלה</th>
    </tr>
  </thead>
  <tbody id="tbody">
    {% for product in products %}
    <tr>
       <td> {{ product.name|replace('\'', '') }} </td>
        {% if product.unit_of_measure == 'לא ידוע' %}
            <td>1 יחידה </td>
        {% elif product.unit_of_measure == 'יחידה   '%}
            <td> 1 יחידה </td>
        {% else %}
            <td>{{ product.quantity|int }} {{ product.unit_of_measure }}</td>
        {% endif %}
       <td> <button onclick="addItem({{ product.id }}, '{{product.name |replace('\'', '')}}')" type="button" class="btn btn-outline-success">הוסף לעגלה</button> </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div> <!-- col  -->

<div class="col-6 themed-grid-col">
<form id="cartForm" action="#" method="POST">
<table id="myCart" class="table text-center" dir="rtl" name="myCart">
<thead>
    <tr>
        <th colspan="5">העגלה שלי</th>
    </tr>
  <tr>
        <th scope="col" colspan="2">קוד מוצר</th>
        <th scope="col" colspan="2">שם מוצר</th>
        <th scope="col" colspan="1">הסר מהעגלה</th>
  </tr>
</thead>
<tbody id="cartbody">

</tbody>
</table>
</form>
</div><!-- row -->
</div> <!-- col -->
</div> <!-- container -->
</main>
{%endblock%}
