<!--  This script uses addItem function from static/js/script.js -->

    {% for product in products %}
    <tr>
       <td style="color: #565555">{{ product.name|replace('\'', '') }}</td>
        {% if product.unit_of_measure == 'יחידה' %}
            <td> יחידה </td>
        {% else %}
            <td>{{ product.quantity|int }} {{ product.unit_of_measure }}</td>
        {% endif %}
       <td>

        <button onclick="addItemIfInCart({{ product.id }}, '{{product.name |replace('\'', '')}}', {{ product.num_items }})" type="button" class="btn btn-outline-success">הוסף לעגלה</button>

       </td>
        <!-- calls add item function from static.js.script -->
    </tr>
    {% endfor %}
