<!--  This script uses addItem function from static/js/script.js -->

    {% for product in products %}
    <tr>
       <td> {{ product.name|replace('\'', '') }} </td>
        {% if product.unit_of_measure == 'יחידה' %}
            <td> יחידה </td>
        {% else %}
            <td>{{ product.quantity|int }} {{ product.unit_of_measure }}</td>
        {% endif %}
       <td>
        
        <button onclick="addItemIfInCart({{ product.id }}, '{{product.name |replace('\'', '')}}')" type="button" class="btn btn-outline-success">הוסף לעגלה</button></td>
    
    </tr>
    {% endfor %}
