    {% for product in products %}
    <tr>
       <td> {{ product.name|replace('\'', '') }} </td>
        {% if product.unit_of_measure == 'לא ידוע' %}
            <td>1 יחידה </td>
        {% elif product.unit_of_measure == 'יחידה   '%}
            <td> 1 יחידה </td>
        {% else %}
            <td>{{ product.quantity|int }} {{ product.unit_of_measure }}</td>
        {% endif %}
       <td><button onclick="addItem({{ product.id }}, '{{product.name |replace('\'', '')}}')" type="button" class="btn btn-outline-success">הוסף לעגלה</button></td>
    </tr>
    {% endfor %}
